body {
    background-color: #656565;
}

.hidden {
    display: none;
}

.menu, .test {
    display: inline-block;
}

.menu {
    background-color: #707070;
    width: 200px;
}

.menu div {
    padding: 5px;
}

.menu-item {
    margin: 5px;
    padding: 5px;
    background-color: #808080;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #858585;
}

.header {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.menu-category {
    text-decoration: underline;
}

.field {
    width: 900px;
    height: 700px;
    padding: 10px;
    border: 1px solid white;
}

.selected {
    background-color: #b2b2b2;
}

